<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stack Questions</title>
</head>
<body>
<h1>Questions about Stack Overflow</h1>
<p>Of the first 20 users who joined StackOverflow last month, how many of those users have asked a question?</p>
<button onclick="location.href = '/question/1'">Answer</button>
<p>How many of those questions have been answered?</p>
<button onclick="location.href = '/question/2'">Answer</button>
<p>Have any of these users asked multiple questions?</p>
<button onclick="location.href = '/question/3'">Answer</button>
<p>How many users have joined StackOverflow in the last month?</p>
<button onclick="location.href = '/question/4'">Answer</button>
<p>How many questions have been asked on StackOverflow in the last month?</p>
<button onclick="location.href = '/question/5'">Answer</button>

</body>
</html>